
<app-navbar></app-navbar>
<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'> -->

<div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">About Us</h2>
                        <p class="aboutus-text">Kanerika is a team of innovation driven software design and development specialists, focused on helping you envision and execute industry leading applications.</p>
                        <p class="aboutus-text">From idea to conceptualisation and reality conversion, Kanerika helps build empowered technology ecosystems spanning across Big Data, Data Services, and Data Analytics.</p>
                        <a class="aboutus-more" href="https://kanerika.com/about-us/">Know more</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img src="./assets/kanerika.png" alt="image">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Our Vision</h4>
                                    <p>We seek to be the most reliable data analytics solutions partner across the technology landscape, globally.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Our Mission</h4>
                                    <p>Our aim is to provide scalable solutions that transform businesses. We also strive to maintain the highest standard of excellence in quality through innovation, teamwork and transparency.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Great support</h4>
                                    <p>With Kanerika, you are assured a honest, fair and transparent working relationship. We walk our talk and deliver without fail.Once we take on a project, we give it our very best.</p>
                                    <p>Kanerika is driven by a passion to develop pathbreaking software products. We enjoy challenges and love what we do.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
