<app-commonheader> </app-commonheader>
<div class="move">
    <button class="view"><i class="fa fa-list subheader" aria-hidden="true" [routerLink]="['/CustomerDetailsComponent',customerdata.id]">
            Customer Details</i></button>
    <button class="view"><i class="fa fa-tag subheader" aria-hidden="true"> Customer Order</i></button>
    <button class="view"><i class="fa fa-pencil-square-o subheader" aria-hidden="true" [routerLink]="['/EditCustomerComponent',customerdata.id]">Edit
            Customer</i></button>
</div>
<div class="scroll">
<table class="table table-striped table1">
    <br>
    <label class="theader">{{'Orders for '+customerdata?.firstName + ' ' + customerdata?.lastName }}</label>
    <br><br>
    <tbody>

        <tr *ngFor="let orders of customerdata?.orders">
         
            <td class="ProName">
                
                {{orders?.productName}}
            </td>
            <td class="Itemcost">
                
                {{orders?.itemCost}}
                
            </td>
        </tr>
        <tr>
            <td><h5>Total Cost</h5></td>
            <td><h5>
            {{customerdata?.totalCost|number}}</h5>
            </td>

        </tr>
    </tbody>
</table>
</div>