
<head>
    <script src="https://kit.fontawesome.com/87804dc25d.js" crossorigin="anonymous"></script>
</head>
<body>
    <form>
        <div>
            <div>
                <img class="img2" src="./assets/contact.webp" alt="Loading">
                <p id="custtext">Customers</p>
            </div>
            <div class="d2nd">
                <div class="d21st">
                    <button class="view" type="button" routerLink="/CardviewComponent" routerLinkActive="Active">
                        <i   class="fa fa-windows" aria-hidden="true"></i> Card view </button>
                    <button class="view" type="button" routerLink="/ListviewComponent" routerLinkActive="Active"><i
                            class="fa fa-bars" aria-hidden="true"></i> List view </button>
                    <button class="view" type="button" routerLink="/MapviewComponent" routerLinkActive="Active"><i
                            class="fa fa-map-marker" aria-hidden="true"></i> Map view </button>
                    <button class="view" type="button" routerLink="/NewCusomerComponent" routerLinkActive="Active"><i
                            class="fa fa-plus" aria-hidden="true" ></i> New Customer </button>
                </div>
            </div>
        </div>
    </form>
</body>

